@import url("null_style.scss");

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}


.container {
}
.header {
}
.navbar {
}
.block-one {
}
.footer {
}